<p>
  <mat-toolbar color="primary">
    <button mat-icon-button mat-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item routerLink="">لیست کاربران</button>
      <button mat-menu-item routerLink="province">استان ها</button>
      <button mat-menu-item routerLink="city">شهرها </button>
      <button mat-menu-item routerLink="map">نقشه</button>
    </mat-menu>
    <span>My App</span>
<!--    <span class="example-spacer"></span>-->
<!--    <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--      <mat-icon>share</mat-icon>-->
<!--    </button>-->
  </mat-toolbar>
</p>


<div class="content">
<!--<app-users-list></app-users-list>-->
</div>
<router-outlet></router-outlet>
<!--<footer></footer>-->
